<p>calculate works!</p>

<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <tr>
                    <td>Enter Num 1 :</td>
                    <td><input type="number" name="n1" id="" [(ngModel)]="num1"></td>
                </tr>
                <tr>
                    <td>Enter Num 2 :</td>
                    <td><input type="number" name="n2" id="" [(ngModel)]="num2"></td>
                </tr>
                <tr>
                    <td><input type="button" value="ADD" name="" id="" (click)="Add()"></td>
                    <td><input type="button" value="SUBTRACT" name="" id="" (click)="diff()"></td>
                </tr>
                <tr>
                    <td><label>{{result}}</label></td>
                </tr>
            </table>
        </div>
    </div>
</div>
