<p>grade works!</p>

<div class="container">
    <div class="col">
        <div class="row">
            <table>
                <tr>
                    <td>Mark</td>
                    <td><input type="number" name="m1" id="" [(ngModel)]="mark"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="Submit" (click)="check()"></td>
                </tr>
            </table>
            <label>{{result}}</label>
        </div>
    </div>
</div>