<p>view works!</p>

<h2>Name of Employee : {{Name}}</h2>
<h2>Age of Employee : {{Age}}</h2>
<h2>Email of Employee : {{Email}}</h2>
<h3>Address</h3>
<h4>{{Address.Hno}},{{Address.Street}},{{Address.Dist}}</h4>
<h3>Hobbies</h3>
<table border=1>
    <tr *ngFor="let hb of Hobbies; let i=index">
        <td>{{hb}}</td>
        <td>{{i}}</td>
    </tr>
   
</table>
<br>
<input type="button" value="Submit" (click)="Add()">
<br>
<table border=1>
    <tr>
        <td>Name</td>
        <td>Duration</td>
        <td>End Date</td>
    </tr>
    <tr *ngFor="let p of projects; let i=index">
        <td>{{p.name}}</td>
        <td>{{p.duration}}</td>
        <td>{{p.enddate}}</td>
        <td>{{i}}</td>
    </tr>
       
</table>





